<div class="profileBackground">
{{#extends 'base'}}

{{#block 'content'}}

 <h1>Welcome to Staff Profile !</h1>
   <div class="row mt-5 staffTable" >
   <div class=" p-3 shadow-lg rounded-5 col-12 col-md-12 col-sm-12">
   <div class="d-flex justify-content-between mt-2">
    <h1>Staff</h1> 
   <a href="/users/register" class="btn btn-primary btn-sm mt-2" style="width:80px;height:34px">Register</a>

</div>
    <table class="table mt-3">
        <thead>
            <tr>
                <th>ID</th>
                 <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each user}}
            <tr>
                <td>{{this.id}}</td>
                  <td>{{this.name}}</td>
                <td>{{this.username}}</td>
                <td>{{this.email}}</td>
                <td>{{this.role}}</td>
                <td></td>
                <td>
                    <a href="users/{{this.id}}/update" ><i class="fa fa-edit" style="font-size:23px;color:black"></i></a>
                    <a href="users/{{this.id}}/delete" class="ms-2"><i class="fa fa-trash " style="font-size:23px;color:black"></i></a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
   </div>
   </div>
   </div>
{{/block}}

{{/extends}}

